<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<link type="text/css" rel="stylesheet" th:href="@{/style.css}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inicio</title>
	</head>
	<body>
		<th:block th:replace="~{fragments/menu :: header}"></th:block>
		<h2>Usuários:</h2>
		<a href="/alunos/novo">Adicionar aluno</a>
		<table th:if="${not #lists.isEmpty(alunos)}">
			<thead>
				<tr>
					<th>#</th>
					<th>ADMIN</th>
					<th>Nome</th>
					<th>Telefone</th>
					<th>CPF</th>
					<th>Sexo</th>
					<th>Editar</th>
					<th>Remover</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="aluno, iterStat : ${alunos.content}">
					<td th:text="${iterStat.index + 1}"></td>
					<td th:text="${aluno.usuario.admin} ? 'Sim' : 'Não'"></td>
					<td th:text="${aluno.usuario.nome}"></td>
					<td th:text="${aluno.usuario.telefone}"></td>
					<td th:text="${aluno.usuario.cpf}"></td>
					<td th:text="${aluno.usuario.sexo}"></td>
					<td><a th:href="@{/alunos/editar/{id}(id=${aluno.id})}"><button id="botao-editar">Editar</button></a></td>
					<td><a th:href="@{/alunos/deletar/{id}(id=${aluno.id})}" 
						onclick="return confirm('Tem certeza que deseja remover este usuario?');"><button id="botao-remover">Remover</button></a></td>
				</tr>
			</tbody>
		</table>
		 <div>
			<a th:if="${alunos.hasPrevious()}" 
			   th:href="@{/alunos/list/page(page=${alunos.number - 1}, size=${alunos.size})}">Previous</a>
	
			<span>Page <span th:text="${alunos.number + 1}"></span> of <span th:text="${alunos.totalPages}"></span></span>
	
			<a th:if="${alunos.hasNext()}" 
			   th:href="@{/alunos/list/page(page=${alunos.number + 1}, size=${alunos.size})}">Next</a>
		</div>
	</body>
</html>
